# ======================= #
# Unreal Engine generated #
# ======================= #
DerivedDataCache/
Intermediate/
Saved/
 
# ======================= #
# Visual Studio generated #
# ======================= #
*.opensdf
*.sdf
*.sln
*.suo
*.user
*.pdb
 
# ============ #
# Third party  #
# ============ #
ThirdParty/EyeX/include/
ThirdParty/EyeX/lib/

# ============ #
# OS generated #
# ============ #
Thumbs.db